.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
  /* font primary color */
  .color1{
    color:#FD6E0A;
  }
  .color2{
    color:#474747;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
  }
  .header-nav{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    margin: 0;
    background-color: rgb(254, 250, 242);

  }
  nav .header{
    font-weight: 800;
    font-size: 45px;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li{
    list-style: none;
    display: inline;
    text-decoration: none;
    margin: 50px;

  }
  ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
  }
  .btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 14px 35px;
    font-weight: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
  }
  .image-property{
    
    max-width: 584px;
  }
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 30px;
  }
  .discription{
    font-weight: normal;
    font-size: 18;
    line-height: 30px;
    width: 585px;
    height: 25px;margin-bottom: 30px;

  }
  .text-{
    max-width: 585px;
  }
  .font-greetings{
    margin-bottom: 5px;
  }
  .bolder{
    margin-bottom: 20px;
  }
  .main{
    padding: 0 230px 0 230px;
  }
  .main-about{
    margin-top: 130px;
    background-color: rgb(254, 250, 242);
    margin-bottom: 130px;
  }
  .main-about .about-me .about-head{
    text-align: center;
  }
  .main-about .about-me .objective{
    text-align: center;
    padding: 0 65px;
  }
  .about-head{
    padding-top: 131px;
    justify-content: center;
    align-items: center;
    color: #181818;
  }
  .objective{
    margin-top: 30px;
    color: #757575;
  }
  .about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 130px;
   
  }
 .about-indormation{
    color: #757575;
 }
 .item-discription{
    color:#474747;
    font-weight: bold;
    font-size: 20px;
 }
 .what-section{
  text-align: center;
  margin-top: 130px;
 }
 .details{
  margin-top: 30px;
  font-size: 18px;
 }
 .skills-main{
    display: flex;
    margin-top: 50px;
    gap: 20px;
    border-radius: 5px;
 }
 .icon-skill{
  margin-bottom: 30px;
  padding-left: 20px;
  margin-top: 30px;
 }
 .skill-title{
  margin-bottom: 20px;
  padding-left: 20px;
 }
 .skill-discription{
  padding-left: 20px;
  font-weight: normal;
  font-size: 16;
  color: #757575;
 }
.border-box{
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.25);
}
/* resume section styles */
.resume-container{
  display: flex;
  gap: 24px;
}
.section-title, .text-center{
  text-align: center;
  margin-top: 130px;
}
.resume-column{
  margin-top: 110px;
}
.experience-sub-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
  color: #757575;
}
.resume hr{
  margin: 30px 5px;
}

.resume-download-cv{
  margin-top: 50px;
}

/* footer styles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}

footer input[type="text"],  footer input[type="email"], footer textarea{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
.secondary-bg{
  background-color: rgb(254, 250, 242);
}
.icons-decaration{
  margin-top: 30px;
}
.icon-details{
  margin-top: 20px;
}
.section-title{
  margin-bottom: 20px;
}
